html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #1f1f1f;
}

header, footer {
	position: fixed;
	background: transparent;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	color: #FFFFFF;
	padding: 0 20px;
	box-sizing: border-box;
}

h1 {
	font-weight: normal;
}

h1 span {
	font-style: italic;
}

img {
	float: left;
}

.transparent {
	opacity: 0;
	-webkit-transition: opacity 500ms linear;
	 -moz-transition:opacity 500ms linear;
	 -o-transition: opacity 500ms linear;
	 -ms-transition: opacity 500ms linear;
	 transition: opacity 500ms linear;
}


/* @group header */

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999998;
	background-color: none;
	-webkit-transition: background-color 500ms linear;
	 -moz-transition: background-color 500ms linear;
	 -o-transition: background-color 500ms linear;
	 -ms-transition: background-color 500ms linear;
	 transition: background-color 500ms linear;
}

.header:hover {
	background-color: #1F1F1F;
	-webkit-transition: background-color 500ms linear;
     -moz-transition: background-color 500ms linear;
     -o-transition: background-color 500ms linear;
     -ms-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
}

h1 {
	margin: 12px 30px 9px 30px;
	float: left;
}

.tools {
	position: relative;
	float: right;
	margin: 12px 27px 0;
	width: 283px;
	right: -141px;
	-webkit-transition: right 0.3s linear;
	-moz-transition: right 0.3s linear;
	transition: right 0.3s linear;
}

.tools.show {
	right: -15px;
	-webkit-transition: right 0.3s linear;
	-moz-transition: right 0.3s linear;
	transition: right 0.3s linear;
}

.tools a {
	padding: 0 10px;
	display: block;
	float: right;
}

.tools .arrow_button {
	padding-right: 25px;
}

.playIcon, 
.play .pauseIcon {
	display: none;
}

.play .playIcon, 
.pauseIcon {
	display: block;
}

.playIcon {
	padding-right: 4px;
}

.about_container {
	background-color: #1f1f1f;
	position: absolute;
	right: 16px;
	top: 70px;
	color: #FFFFFF;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	font-size: 12px;
	width: 350px;
	font-weight: bold;
	line-height: 1.5;
	padding: 5px 23px;
	display: none;
}

.about_container a,
.about_container a:visited {
	color: #FFFFFF;
}

/* @end header */

/* @group screen controls */

  .prev, .next {
  	top: 40%;
  	opacity: 1;
  	-webkit-transition: opacity 500ms linear;
  	 -moz-transition:opacity 500ms linear;
  	 -o-transition: opacity 500ms linear;
  	 -ms-transition: opacity 500ms linear;
  	 transition: opacity 500ms linear;
  	 z-index: 999997;
  }

  .prev {
  	right: auto;
  	left: 20px;
  	text-align: left;
  	position: fixed;
  }
  
  .next {
  	right: 20px;
  	left: auto;
  	text-align: right;
  	position: fixed;
  }
  
/* @end screen controls */

/* @group splash */

.splash {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
}

.top {
	width: 100%;
	background: #1F1F1F;
	height: 29%;
}

.bottom {
	width: 100%;
	background: #1F1F1F;
	height: 100%;
	float: left;
}

.middle-container {
	position: relative;
	float: left;
	width: 100%;
}

.left {
	width: 32%;
	background: #1F1F1F;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.right {
	width: 32%;
	background: #1F1F1F;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.middle {
	width: 36.3%;
	display: block;
	float: left;
	margin: 0 32%;
}

.middle img {
	max-width: 100%;
	float: left;
}

.download_link {
	display: none;
}


/* @end splash */

/* @group lyrics */

.lyrics {
	position: fixed;
	z-index: 999996;
	width: 100%;
	height: 83%;
	top: 74px;
	text-align: center;
	display: none;
}

.lyrics img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	float: none;
}

/* @end lyrics */

/* @group final */

.final {
	background: #1f1f1f url('../img/finalbg.png') no-repeat center center;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999996;
	display: none;
}

.backgroundsize .final {
	background-size: cover;
}

.final .download_text {
	display: block;
	margin: 0 auto;
	width: 65%;
	position: relative;
	top: 28%;
	text-align: center;
}

.final .download_text img {
	max-width: 100%;
	float: none;
}

.thanks {
	display: none;
	margin: 0 auto;
	width: 65%;
	position: relative;
	top: 28%;
	float: none;
	max-width: 100%;
}

/* @end final */

.vidph {
	position: absolute;
	left: -99999em;
	visibility: hidden;
}

/* @group mobile */

@media (max-width: 568px) {

	.top {
		height: 0;
	}
	
	.middle {
		background: #1f1f1f url('../img/ld.gif') no-repeat center center;
		width: 100%;
		margin: 0;
	}
	
	.middle img {
		width: 261px;
		display: block;
		margin: 0 auto;
		float: none;
	}
	
	.left, .right {
		display: none;
	}
	
	.download_link {
		clear: left;
		text-align: center;
		margin-top: 20px;
		display: block;
		float: left;
		width: 100%;
	}
	
	.playIcon, 
	.play .pauseIcon {
		display: inline;
	}
	
	.play .playIcon, 
	.pauseIcon {
		display: none;
	}
	
	.download_link img {
		float: none;
	}
	
	.prev, .next {
		display: none !important;
	}
	
	.final {
		background: none !important;
	}

}

@media (max-width: 320px) {

	.top {
		height: 25%;
	}
	
}

.no-js .top,
.no-video .top,
.lt-ie9 .top {
	height: 25%;
}

.no-js .middle,
.no-video .middle,
.lt-ie9 .middle {
	background: #1f1f1f url('../img/ld.gif') no-repeat center center;
	width: 100%;
	margin: 0;
}

.no-js .middle img,
.no-video .middle img,
.lt-ie9 .middle img {
	width: 261px;
	display: block;
	margin: 0 auto;
	float: none;
}

.no-js .left,
.no-video .left,
.lt-ie9 .left,
.no-js .right,
.no-video .right,
.lt-ie9 .right { 
	display: none;
}

.no-js .download_link,
.no-video .download_link,
.lt-ie9 .download_link {
	clear: left;
	text-align: center;
	margin-top: 20px;
	display: block;
	float: left;
	width: 100%;
}

.no-js .playIcon,
.no-video .playIcon,
.lt-ie9 .playIcon,
.no-js .play .pauseIcon,
.no-video .play .pauseIcon,
.lt-ie9 .play .pauseIcon { 
	display: inline;
}

.no-js .pauseIcon,
.no-video .pauseIcon,
.lt-ie9 .pauseIcon,
.no-js .play .playIcon,
.no-video .play .playIcon,
.lt-ie9 .play .playIcon { 
	display: none;
}

.no-js .download_link img,
.no-video .download_link img,
.lt-ie9 .download_link img {
	float: none;
}

.no-js .download_link .pauseplay {
	display: none;
}

.no-js .prev,
.no-video .prev,
.lt-ie9 .prev,
.no-js .next,
.no-video .next,
.lt-ie9 .next { 
	display: none !important;
}

.no-js .final,
.no-video .final,
.lt-ie9 .final {
	background: none !important;
}

/* @end mobile */