html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #1f1f1f;
}

header, footer {
	position: fixed;
	background: transparent;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	color: #FFFFFF;
	padding: 0 20px;
	box-sizing: border-box;
}

h1 {
	font-weight: normal;
}

h1 span {
	font-style: italic;
}

img {
	float: left;
}

.transparent {
	opacity: 0;
	-webkit-transition: opacity 500ms linear;
	 -moz-transition:opacity 500ms linear;
	 -o-transition: opacity 500ms linear;
	 -ms-transition: opacity 500ms linear;
	 transition: opacity 500ms linear;
}


/* @group header */

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999998;
	background-color: none;
	-webkit-transition: background-color 500ms linear;
	 -moz-transition: background-color 500ms linear;
	 -o-transition: background-color 500ms linear;
	 -ms-transition: background-color 500ms linear;
	 transition: background-color 500ms linear;
}

.header:hover {
	background-color: #1F1F1F;
	-webkit-transition: background-color 500ms linear;
     -moz-transition: background-color 500ms linear;
     -o-transition: background-color 500ms linear;
     -ms-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
}

h1 {
	margin: 12px 30px 9px 30px;
	float: left;
}

.tools {
	position: relative;
	float: right;
	margin: 12px 27px 0;
	width: 103px;
}

.tools a {
	padding: 0 3px;
	display: block;
	float: right;
}

.playIcon, 
.play .pauseIcon {
	display: none;
}

.play .playIcon, 
.pauseIcon {
	display: block;
}

.playIcon {
	padding-right: 4px;
}

/* @end header */

/* @group screen controls */

  .prev, .next {
  	top: 40%;
  	opacity: 1;
  	-webkit-transition: opacity 500ms linear;
  	 -moz-transition:opacity 500ms linear;
  	 -o-transition: opacity 500ms linear;
  	 -ms-transition: opacity 500ms linear;
  	 transition: opacity 500ms linear;
  	 z-index: 999997;
  }

  .prev {
  	right: auto;
  	left: 20px;
  	text-align: left;
  	position: fixed;
  }
  
  .next {
  	right: 20px;
  	left: auto;
  	text-align: right;
  	position: fixed;
  }
  
/* @end screen controls */

/* @group splash */

.splash {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
}

.top {
	width: 100%;
	background: #1F1F1F;
	height: 25%;
}

.bottom {
	width: 100%;
	background: #1F1F1F;
	height: 100%;
	float: left;
}

.middle-container {
	position: relative;
	float: left;
	width: 100%;
}

.left {
	width: 32%;
	background: #1F1F1F;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.right {
	width: 32%;
	background: #1F1F1F;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.middle {
	width: 36%;
	display: block;
	float: left;
	margin: 0 32%;
}

.middle img {
	max-width: 100%;
	float: left;
}

.download_link {
	display: none;
}

@media (max-width: 568px) {

	.top {
		height: 0;
	}
	
	.middle {
		background: #1f1f1f url('../img/ld.gif') no-repeat center center;
		width: 100%;
		margin: 0;
	}
	
	.middle img {
		width: 261px;
		display: block;
		margin: 0 auto;
		float: none;
	}
	
	.left, .right {
		display: none;
	}
	
	.download_link {
		clear: left;
		text-align: center;
		margin-top: 20px;
		display: block;
		float: left;
		width: 100%;
	}
	
	.playIcon, 
	.play .pauseIcon {
		display: inline;
	}
	
	.play .playIcon, 
	.pauseIcon {
		display: none;
	}
	
	.download_link img {
		float: none;
	}
	
	.prev, .next {
		display: none !important;
	}

}

@media (max-width: 320px) {

	.top {
		height: 25%;
	}
	
}

/* @end splash */

/* @group lyrics */

.lyrics {
	position: relative;
	z-index: 999996;
	width: 100%;
	height: 83%;
	top: 74px;
	text-align: center;
	display: none;
}

.lyrics img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	float: none;
}

/* @end lyrics */

/* @group final */

.final {
	background: #313131 url('../img/finalbg.png') no-repeat center center;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999996;
	display: none;
}

.backgroundsize .final {
	background-size: cover;
}

.final .download_text {
	display: block;
	margin: 0 auto;
	width: 65%;
	position: relative;
	top: 28%;
	text-align: center;
}

.final .download_text img {
	max-width: 100%;
	float: none;
}

.thanks {
	display: none;
	margin: 0 auto;
	width: 65%;
	position: relative;
	top: 28%;
	float: none;
	max-width: 100%;
}

/* @end final */