h1 {
	font-size: 48px;
	font-size: 4.8rem;
	line-height: 48px;
	line-height: 4.8rem;
}

article.introduction-block .content-wrapper .text-area .multiline h1 {
	background: none;
	box-shadow: none;
}

.toolbar {
	background-color: #FFFFFF;
}

.toolbar .menu .top-level > li.open {
	background-color: #000000;
}

.toolbar .menu .top-level > li.open span,
.menu-text, .menu-icon {
	color: #FFFFFF;
}

.toolbar .menu .top-level > li {
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.second-level {
	background-color: #000000;
	color: #FFFFFF;
}